.cuerpo{
    background-color: black;
}
.todo{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-column-gap: 10px;
    background-color: gray;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    margin: -1% auto auto auto ;
}
.start{
    width: 100%;
    grid-column: 1/4;
    height: 200px;
}
.start h1{
    grid-column: 2/3;
    margin-top: 45px;
    margin-left: 275px;
    color: rgb(206, 8, 8);
}
.start h2{
    grid-column: 2/3;
    margin-left: 325px;
    color: blue;
}
.subtitulo{
    width: 1000px;
    overflow: hidden;
    grid-column: 1/4;
    background-color: red;
}
.moba{
    overflow: hidden;
    background-image: url(../img/fondo\ juegos.jpg);
    background-size: cover;
    background-position: center;
    width: 1000px;
    height: 450px;
}
.llol{
    margin-top: 280px;
    margin-left: 150px;
}
.ldota{
    margin-left: 690px;
    margin-top: -40px;
}
.lol{
    margin-top: -250px;
    margin-left: 100px;
    width: 300px;
    height: 300px;
}
.dota{
    
    margin-top: -300px;
    margin-left: 570px;
    width: 300px;
    height: 300px;
}
.shooter{
    background-image: url(../img/fondo\ juegos.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 1000px;
    height: 450px;
}
.lcsgo{
    margin-top: 280px;
    margin-left: 220px;
}
.lfortnite{
    margin-left: 690px;
    margin-top: -40px;
}
.csgo{
    margin-top: -250px;
    margin-left: 100px;
    width: 300px;
    height: 300px;
}
.fortnite{
    margin-top: -300px;
    margin-left: 570px;
    width: 300px;
    height: 300px;
}
.arpg{
    background-image: url(../img/fondo\ juegos.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 1000px;
    height: 450px;
}
.lkingdom{
    margin-top: 280px;
    margin-left: 160px;
}
.lfantasy{
    margin-left: 650px;
    margin-top: -40px;
}
.kingdom{
    margin-top: -250px;
    margin-left: 100px;
    width: 300px;
    height: 300px;
}
.fantasy{
    margin-top: -300px;
    margin-left: 570px;
    width: 300px;
    height: 300px;
}